{
  "presets": [
    ["@babel/preset-env", {
      "targets": "last 2 versions, not dead"
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "transform-html-import-to-string",
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": ["**/*.spec.js"],
        }],
      ]
    },
  },
  "comments": false,
}
