{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "semi": 2,
    "no-unused-vars": ["warn"],
    "no-console": 0
  },
  "globals": {
    "__fixtures__": false,
    "angular": false,
    "module": false,
    "inject": false,
    "window": false,
    "console": false,
    "Promise": false,
    "spyOnAllFunctions": false,
  },
  "env": {
    "jasmine": true,
    "node": true
  }
}